version: "3.8"

services:
  agent:
    image: portainer/agent:latest 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    networks:
      - ${NETWORK}
    deploy:
      mode: global
      placement:
        constraints: [node.platform.os == linux]

  portainer:
    image: portainer/portainer-ce:latest 
    ##command: -H tcp://tasks.agent:9001 --tlsskipverify --admin-password='${PORTAINER_PASSWORD_HASH}'
    ports:
      - target: 9000
        published: 9000
        mode: host
      - target: 8000
        published: 8000
        mode: host
    volumes:
      - portainer_data:/data
    networks:
      - ${NETWORK} 
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints: [node.role == manager]
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.portainer.rule=Host(`${PORTAINER_DOMAIN}`)"
        - "traefik.http.routers.portainer.entrypoints=websecure"
        - "traefik.http.routers.portainer.tls.certresolver=letsencryptresolver"
        - "traefik.http.services.portainer.loadbalancer.server.port=9000"
        - "traefik.docker.network=${NETWORK}"

volumes:
  portainer_data:

networks:
  ${NETWORK}: 
    external: true